/* .search{
    height: 200px;
    width: 400px;
    background-color: cornflowerblue;
    margin: 0 auto;
} */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    font-size: 15px;
    background-color:cornflowerblue; /*/laven начало цвета/*/
}
.box{
    margin: auto;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    color: white;   /*/не нужно/*/
}
button, input{
    font-size: inherit;
}